html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    background-color: var(--bg-primary);
}

/* Blur background using a ::before layer */
.layout::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100lvh;
    z-index: 0;
    pointer-events: none;

    background-image: linear-gradient(
        to bottom,
        rgb(var(--background-main-rgb)) 25%,
        rgb(var(--background-second-rgb))
    );
}

.background-blur {
    content: "";
    position: fixed;
    inset: 0;
    pointer-events: none;
    z-index: 0;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjU2IiBoZWlnaHQ9IjI1NiIgdmlld0JveD0iMCAwIDI1NiAyNTYiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGZpbHRlciBpZD0ibm9pc2UiPjxmZVR1cmJ1bGVuY2UgdHlwZT0iZnJhY3RhbE5vaXNlIiBiYXNlRnJlcXVlbmN5PSIxLjIiIG51bU9jdGF2ZXM9IjMiIHN0aXRjaFRpbGVzPSJzdGl0Y2giLz48L2ZpbHRlcj48cmVjdCB3aWR0aD0iMjU2IiBoZWlnaHQ9IjI1NiIgZmlsdGVyPSJ1cmwoI25vaXNlKSIgb3BhY2l0eT0iMC44Ii8+PC9zdmc+");
    background-repeat: repeat;
    background-size: 256px 256px;
    mix-blend-mode: soft-light;
    opacity: 0.3;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Michroma", sans-serif;
}

h1 {
    font-size: 2.4em;
}
h2 {
    font-size: 2em;
}
h3 {
    font-size: 1.8em;
}
h4 {
    font-size: 1.4em;
}
h5 {
    font-size: 1.2em;
}
h6 {
    font-size: 1em;
}

/* Tailwind CSS */

@import "tailwindcss";

:root {
    --background-main-rgb: 180, 180, 180;
    --background-second-rgb: 220, 220, 220;

    --bg-primary: #b3b3b3;
    --bg-secondary: #c2c2c2;
    --bg-surface: #e0e0e0;
    --bg-tertiary: #f5f5f5;
    --bg-reverse: #141414;

    --txt-primary: #141414;
    --txt-secondary: #333333;
    --txt-highlight: #000000;
    --txt-muted: #5a5a5a;

    --accent-dark: #6c3cbf;
    --accent: #9a5cff;
    --accent-hover: #b890ff;

    --btn-main: hsl(0, 0%, 45%);
    --btn-secondary: hsl(0, 0%, 55%);

    --contrast: #ffb300;
    --contrast-hover: #ffd366;

    --br-primary: #595959;
    --br-secondary: #8c8c8c;
    --btn-hover: #a6a6a6;

    --success: #28c76f;
    --error: #f44336;
}

[data-theme="dark"] {
    --background-main-rgb: 10, 10, 10;
    --background-second-rgb: 50, 50, 50;

    --bg-primary: #141414;
    --bg-secondary: #202020;
    --bg-surface: #3a3a3a;
    --bg-tertiary: #5a5a5a;
    --bg-reverse: #f5f5f5;

    --txt-primary: #f5f5f5;
    --txt-secondary: #c7c7c7;
    --txt-highlight: #ffffff;
    --txt-muted: #9a9a9a;

    --accent-dark: #6c3cbf;
    --accent: #9a5cff;
    --accent-hover: #b890ff;

    --btn-main: #4d4d4d;
    --btn-secondary: #666666;
    --btn-hover: #808080;

    --contrast: #ffb300;
    --contrast-hover: #ffd366;

    --br-primary: #999999;
    --br-secondary: #595959;

    --success: #34d399;
    --error: #f87171;
}

@theme {
    --color-bg-primary: var(--bg-primary);
    --color-bg-secondary: var(--bg-secondary);
    --color-bg-surface: var(--bg-surface);
    --color-bg-reverse: var(--bg-reverse);

    --color-txt-primary: var(--txt-primary);
    --color-txt-secondary: var(--txt-secondary);
    --color-txt-highlighted: var(--txt-highlight);
    --color-txt-muted: var(--txt-muted);

    --color-dark-accent: var(--accent-dark);
    --color-accent: var(--accent);
    --color-accent-hover: var(--accent-hover);

    --color-contrast: var(--contrast);
    --color-contrast-hover: var(--contrast-hover);

    --color-br-primary: var(--br-primary);
    --color-br-secondary: var(--br-secondary);

    --color-btn-primary: var(--accent);
    --color-btn-primary-hover: var(--accent-hover);
    --color-btn-secondary: var(--btn-secondary);
    --color-btn-secondary-hover: var(--btn-secondary-hover);
    --color-btn-disabled: var(--btn-disabled);

    --color-focus: var(--accent-hover);
    --color-success: var(--success);
    --color-error: var(--error);
}

/* Navbar Glass Overlay */
.glass-effect {
    background: rgba(var(--background-main-rgb), 0.85);
    -webkit-backdrop-filter: blur(20px);
    -moz-backdrop-filter: blur(20px);
    -ms-backdrop-filter: blur(20px);
    -o-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    z-index: -1;
}

/* Buttons */
.cta-button {
    background: linear-gradient(
        135deg,
        var(--accent-dark) 0%,
        var(--accent) 100%
    );
    transition: all 0.3s ease;
    color: #f5f5f8;
    font-weight: 600;
    border-radius: 10px;
}

.cta-button:hover {
    background: linear-gradient(
        135deg,
        var(--accent) 0%,
        var(--accent-hover) 100%
    );
    transform: translateY(-1px);
    box-shadow: 0px 0px 12px var(--accent-dark);
}

.secondary-button {
    background: linear-gradient(
        135deg,
        var(--btn-main) 0%,
        var(--btn-secondary) 100%
    );
    transition: all 0.3s ease;
    color: #f5f5f8;
    font-weight: 600;
    border-radius: 10px;
}

.secondary-button:hover {
    background: linear-gradient(
        135deg,
        var(--btn-secondary) 0%,
        var(--btn-hover) 100%
    );
    transform: translateY(-1px);
    box-shadow: 0 0px 12px var(--btn-hover);
    color: #fff;
}

/* Custom Divider */
.divider-top {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0) 10%,
        var(--br-primary) 50%,
        rgba(0, 0, 0, 0) 90%
    );
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100% 1px;
}

.divider-top-left {
    background-image: linear-gradient(
        to right,
        var(--br-primary),
        rgba(0, 0, 0, 0) 65%
    );
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100% 1px;
}


/* fade-in animation */
@keyframes fade-in {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: none; }
}

.animate-fade-in {
  animation: fade-in 0.5s ease;
}
